.nav_bar{
    position: fixed;
    background: rgb(39, 45, 56);
    width: 100%;
    left: 0;
    top: 0;
    z-index: 1;
    height: 50px;
}

ul{
    list-style: none;
}

.nav_item {
    display: inline-block;
    line-height: 50px;
    padding: 0 30px;
}

.nav_item a{
    color: #fff;
}

.nav_item:hover{
    scale: 2;
}